.legend {
  font-family: "Raleway", sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
}

.radarChart {
  background: #e4e5ea;
  width: 700px;
  margin: auto;
}

/* background: rgb(254,254,255);
background: linear-gradient(90deg, rgba(254,254,255,1) 3%, rgba(207,207,210,1) 33%, rgba(242,242,242,1) 75%, rgba(255,255,255,1) 100%, rgba(0,212,255,1) 100%); */

/* .radar .radarChart {
  margin-left: 10% !important;
  margin-top: 10% !important;
} */

.titile {
  text-align: center;
  font-size: 25px;
  /* margin: 0; */
  padding-top: 15px;
}
.radar {
  margin-left: 2% !important;
}
